.drawer-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 90%;
	padding: 0 5%;
}

.drawer-btns button {
	width: 45%;
}

.drawer-title {
	background: #3a78ea;
	font-size: 45rpx;
	color: #FFFFFF;
	line-height: 2;
	padding: 30rpx;
	border-bottom: 2rpx solid #999999;
}

.drawer-list {
	padding: 30rpx;
}

.filter-block {
	padding: 20rpx 0;
	border-bottom: 2rpx solid #EEEEEE;
}

.filter-title {
	font-size: 40rpx;
	line-height: 1.4;
	padding-bottom: 20rpx;
}

.filter-status {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.f-block {
	display: inline-block;
	text-align: center;
}

.checkbox {
	padding: 5upx 8px;
	border: 1px solid #CBCBCB;
	margin: 0 8upx 10upx;
	border-radius: 8upx;
	font-size: 26upx;
	color: #535353;
}

.selectBox {
	background: #3a78ea !important;
	color: #fff !important;
	border-color: #3a78ea !important;
}
